<div id="healthdata-firstlaunch-popup" class="healthdata-firstlaunch-container">
    <div>
        <p class='healthdata-popup-close-button'>×</p>
    </div>
    <div >
        <p class="healthdata-dialog-title">{{Strings.HEALTH_FIRST_POPUP_TITLE}}</p>
    </div>
    <div>
        <p class="healthdata-dialog-message">{{{Strings.HEALTH_DATA_NOTIFICATION_MESSAGE}}}</p>
    </div>
</div>

