<div class="brackets-config-central">
    <div class="config-options">
        <label>
            <p>Default file Extension When Creating New Files:</p>
            <input type="text" value="{{defaultExtension}}">
        </label>
        <label>
            <p>Number of space units for tabs</p>
            <input type="text" value="{{spaceUnits}}">
        </label>
    </div>
</div>