<div class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">Performance Data</h1>
    </div>
    <div class="modal-body no-padding">
        <table class="table table-striped">
            <thead><th>Operation</th><th class="right">Time (ms)</th></thead>
            <tbody>
                {{#perfData}}
                <tr>
                    <td>{{{testName}}}</td>
                    <td class="right">{{value}}</td>
                </tr>
                {{/perfData}}
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="left">
            <label for="brackets-perf-raw-data" class="inline">Raw data (copy paste out):</label>
            <textarea rows="1" id="brackets-perf-raw-data" style="margin: 0; width: 50px;">{{delimitedPerfData}}</textarea>        
        </div>
        <button class="dialog-button btn primary" data-button-id="ok">Close</button>
    </div>
</div>
