<div class="css-prop-defn" tabIndex="0"> <!-- tabIndex needed: otherwise click focuses CodeMirror scroller and Esc won't work -->
    <div class="css-prop-summary">
        <h1>{{propName}}</h1>
        <div>{{{summary}}}</div>
    </div>
    <div class="divider-holder no-focus">
        <div class="divider"></div>
    </div>
    <div class="css-prop-values quiet-scrollbars">
        <div class="scroller" tabIndex="0"> <!-- tabIndex needed: otherwise can't be focused on open or via click -->
            <dl>
                {{#propValues}}
                <dt>{{{value}}}</dt>
                <dd>{{{description}}}</dd>
                {{/propValues}}
            </dl>
        </div>
    </div>
    <div class="content-bottom"></div>
    <a class="more-info" href="{{url}}" title="{{url}}">{{Strings.DOCS_MORE_LINK}}</a>
</div>