/*
 * Copyright (c) 2013 Adobe Systems Incorporated. All rights reserved.
 *  
 * Permission is hereby granted, free of charge, to any person obtaining a
 * copy of this software and associated documentation files (the "Software"), 
 * to deal in the Software without restriction, including without limitation 
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 * and/or sell copies of the Software, and to permit persons to whom the 
 * Software is furnished to do so, subject to the following conditions:
 *  
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *  
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING 
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
 * DEALINGS IN THE SOFTWARE.
 * 
 */

.brackets-js-hints.priority-high {
    color: #486c00; /* green */
}

.brackets-js-hints.priority-medium {
    color: #0c50af; /* blue */
}

.brackets-js-hints.priority-low {
    color: #6b24bd; /* violet */
}

.brackets-js-hints.priority-lowest {
    color: #444; /* dark grey */
}

.brackets-js-hints.variable-hint {
}

.brackets-js-hints.property-hint {
}

.brackets-js-hints.literal-hint {
    color: #444; /* dark grey */
    font-family: SourceCodePro;
}

.brackets-js-hints.keyword-hint {
    font-family: SourceCodePro; 
}

.brackets-js-hints.keyword-hint .matched-hint {
    font-family: SourceCodePro-Medium;
    font-weight: 500; 
}

.brackets-js-hints .matched-hint {
    font-weight: 500;
}

.brackets-js-hints.guess-hint {
    font-style: italic;
}

#function-hint-container {
    display: none;

    background: #fff;
    position: absolute;
    z-index: 15;
    left: 200px;
    top: 40px;
    pointer-events: none;

    padding: 1px 6px;
    text-align: center;

    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
}

#function-hint-container .function-hint-content {
}

.brackets-js-hints .current-parameter {
    font-weight: 500;
}

/* Dark Styles */

.dark .brackets-js-hints.priority-high {
    color: #a1f200; /* green */
}

.dark .brackets-js-hints.priority-medium {
    color: #3ff8ff; /* blue */
}

.dark .brackets-js-hints.priority-low {
    color: #e6adff; /* violet */
}

.dark .brackets-js-hints.priority-lowest {
    color: #bbb; /* dark grey */
}

.dark .brackets-js-hints.literal-hint {
    color: #bbb; /* dark grey */
    font-family: SourceCodePro;
}

.dark #function-hint-container {
    background: #000;
    border: 1px solid rgba(255,255,255,0.15);
    color: #fff;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
}
