<div class="sample-localized-dialog modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{DIALOG_TITLE}}</h1>
    </div>
    <div class="modal-body">
        {{DIALOG_TEXT}}
    </div>
    <div class="modal-footer">
        <a href="#" class="dialog-button btn primary" data-button-id="ok">{{DIALOG_OK}}</a>
    </div>
</div>