<div tabindex="-1" class="bezier-curve-editor">
    <div class="cubic-bezier">
        <div class="coordinate-plane">
            <span   class="control-point P0"></span>
            <button class="control-point P1"></button>
            <button class="control-point P2"></button>
            <span   class="control-point P3"></span>
            <canvas height="300" width="150" class="curve"></canvas>
        </div>
        <div class="info">
            <p>{{{BEZIER_EDITOR_INFO}}}</p>
            <div class="hint"></div>
        </div>
    </div>
</div>
