<div tabindex="-1" class="step-editor">
    <div class="steps-func">
        <div class="coordinate-plane">
            <canvas height="180" width="180" class="steps" tabindex="1"></canvas>
        </div>
        <div class="info">
            <p>{{{STEPS_EDITOR_INFO}}}</p>
            <div class="hint"></div>
        </div>
    </div>
</div>
